/* Add your CSS to this file */
body {
  margin: 0;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

header {
  background-color: white;
  font-size: 18px;
}

nav a:hover {
  color: #5a6708;
}

nav a {
  color: #6b7280;
}

.overview-hero {
  background-color: #e2e8f0;
}

.learn-about h2 {
  font-size: 24px;
  color: #48bb78;
  text-align: center;
  margin-bottom: 30px;
}

.testing {
  background-color: #4a5568;
  color: white;
}

.newsletter {
  background-color: #48bb78;
  color: white;
}

footer {
  background-color: #4a5568;
  color: white;
  padding: 9px;
}
