/* Add your CSS to this file */
body {
  margin: 0;
  padding: auto;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

/* Font & Colour */
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

header {
  background-color: white;
  font-size: 18px;
}

nav a:hover {
  color: #5a6708;
}

nav a {
  color: #6b7280;
}

.overview-hero {
  background-color: #e2e8f0;
}

.learn-about h2 {
  font-size: 24px;
  color: #48bb78;
  text-align: center;
  margin-bottom: 30px;
}

.testing {
  background-color: #4a5568;
  color: white;
  padding: 30px;
}

.stories h2 {
  color: #5a67d8;
  font-size: 18px;
  margin-bottom: 10px;
}

.newsletter {
  background-color: #48bb78;
  color: white;
  text-align: center;
  padding: 40px;
}

footer {
  background-color: #4a5568;
  color: white;
  padding: 9px;
}

/* layout */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

.overview-hero .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 250px;
  box-shadow: 10px 10px 5px lightblue;
  text-align: center;
}

.cta .btn {
  background-color: #48bb78;
  padding: 5px 40px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.testing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories {
  padding: 30px;
}

.stories article {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.newsletter .form-group {
  display: inline-block;
  margin-right: 10px;
}

.newsletter .btn {
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}

.newsletter .input[type="email"] {
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}
